{% extends "./base.html" %} {% load static %} {% block content %} 
{% include './header.html' %}

<div class="about_companyContainer">
	<div class="about_company_detailsContainer global__margin">
		<div class="header_div"></div>
		<div class="about_header_Detailscontent">
			<h2>Clear Code Labs</h2>
			<p>
				We so opinion friends me message as delight. Whole front do of plate
				heard oh ought. His defective nor convinced residence own. Connection
				has put impossible own apartments boisterous. At jointure ladyship an
				insisted so humanity he. Friendly bachelor entrance to on by.
			</p>
		</div>
		<div class="about_conpany__possibility">
			<h2>What sets us apart</h2>
		</div>
		<div class="about_conpany__detailsItems">
			<div class="about_conpany__detailsItem">
				<div class="header_div"></div>
				<h2>Chatbots</h2>
				<p>
					We so opinion friends me message as delight. Whole front do of plate
					heard oh ought.
				</p>
			</div>
			<div class="about_conpany__detailsItem">
				<div class="header_div"></div>
				<h2>Knowledgebase</h2>
				<p>
					At jointure ladyship an insisted so humanity he. Friendly bachelor
					entrance to on by. As put impossible own apartments b
				</p>
			</div>
			<div class="about_conpany__detailsItem">
				<div class="header_div"></div>
				<h2>Education</h2>
				<p>
					At jointure ladyship an insisted so humanity he. Friendly bachelor
					entrance to on by. As put impossible own apartments b
				</p>
			</div>
		</div>
	</div>
</div>

<div class="aboutOurTeam__container">
	
	<div class="about__teamItems__container">
        <h1>Our Team</h1>
		<div class="first__aboutTeam__container">
			<img src="{% static 'images/Rectangle 246.png' %}" alt="" />
			<div class="first__aboutDetails__container">
				<div class="aboutTeam__firstDetail">
					<h1>Odogwu Roy Chukwudi</h1>
					<p>C. E. O.</p>
				</div>
				<div class="aboutTeam__detailabout">
					<p>
						We so opinion friends me message as delight. Whole front do of plate
						heard oh ought. His defective nor convinced residence own.
						Connection has put impossible own apartments boisterous. At jointure
						ladyship an insisted so humanity he. Friendly bachelor entrance to
						on by.
					</p>
				</div>
			</div>
		</div>
		<div class="flex__aboutTeamContainer">
			<div class="first__flex__aboutContainer">
				<div class="div__teamITem__container"></div>
				<div class="div__teamImage__container">
					<img src="{% static 'images/Rectangle 246.png' %}" alt="" />
					<div class="div__teamImage__container__content">
						<h4>Odogwu Roy Chukwudi</h4>
						<p>C.E.O.</p>
					</div>
				</div>
			</div>
			<div class="second__flex__aboutContainer">
				<div class="div__teamITem__container"></div>
				<div class="div__teamImage__container">
					<img src="{% static 'images/Rectangle 246.png' %}" alt="" />
					<div class="div__teamImage__container__content">
						<h4>Odogwu Roy Chukwudi</h4>
						<p>C.E.O.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="about__register">
	<div class="register">
		<div class="top__register">
			<p>Get in touch with us</p>
			<h3>Register today & start exploring the endless possiblities.</h3>
		</div>
		<button>Contact Us</button>
	</div>
</div>

{% include 'footer.html' %} {% endblock content %}
