{% load static %} {% block content %}
<div class="hero_container global__margin">
	<div class="first_hero__item">
		<div class="first_heroItems">
			<h1>
				EXCEED YOUR <br />
				<div class="">IMAGINATIONS</div>
			</h1>
			<p>
				Yet bed any for travelling assistance indulgence unpleasing. Not
				thoughts all exercise blessing. Indulgence way everything joy alteration
				boisterous the attachment. Party we years to order allow asked of.
			</p>
			<form action="">
				<input type="text" placeholder="Enter Email Address" />
				<button>Get Started</button>
			</form>
		</div>
	</div>
	<div class="second_hero__item">
		<img src="{% static 'images/office-gead1f91cc_640.jpg' %}" alt="" />
	</div>
</div>
{% endblock content %}
