{% load static %}{% block content %}
<div class="image_container global__margin">
	<div class="first_image__item">
		<div class="image__item">
			<img src="{% static 'images/Rectangle 246.png' %}" alt="" />
			<div class="image__item__details">
				<h4>Odogwu Roy Chukwudi</h4>
				<h4>CEO</h4>
			</div>
		</div>
	</div>
	<div class="second_image__item">
		<div class="image__item">
			<img src="{% static 'images/Rectangle 246.png' %}" alt="" />
			<div class="image__item__details">
				<h4>Odogwu Roy Chukwudi</h4>
				<h4>CEO</h4>
			</div>
		</div>
		<div class="image__item">
			<img src="{% static 'images/Rectangle 246.png' %}" alt="" />
			<div class="image__item__details">
				<h4>Odogwu Roy Chukwudi</h4>
				<h4>CEO</h4>
			</div>
		</div>
		<div class="image__item">
			<img src="{% static 'images/Rectangle 246.png' %}" alt="" />
			<div class="image__item__details">
				<h4>Odogwu Roy Chukwudi</h4>
				<h4>CEO</h4>
			</div>
		</div>
		<div class="image__item">
			<img src="{% static 'images/Rectangle 246.png' %}" alt="" />
			<div class="image__item__details">
				<h4>Odogwu Roy Chukwudi</h4>
				<h4>CEO</h4>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
