{% extends "./base.html" %} {% load static %} {% block content %} 
{% include './header.html' %}

<div class="work__itemsContainer_page">
	<div class="work__pageContainer pageContainer1">
		<div class="worksPage__item">
			<div class="work__page__content">
				<img src="{% static 'images/image 10.png' %}" alt="" />
				<div class="worksPage__contents">
					<h4>FCMB Mobile Banking</h4>
					<p class="digitalBanking">Creating a 360 Digital Banking Experience</p>
					<div class="worksPage__spanContainer">
						<span>Branding</span>
						<span class="span2">UI/UX</span>
						<span>Research</span>
					</div>
					<p class="text">
						We so opinion friends me message as delight. Whole front do of plate
						heard oh ought. His defective nor convinced residence own.
						Connection has put impossible own apartments boisterous. At jointure
						ladyship an insisted so humanity he. Friendly bachelor entrance to
						on by.
					</p>
				</div>
			</div>
			<div class="button-container">
			    <button>View Project</button>
            </div>
		</div>
	</div>
	<div class="work__pageContainer pageContainer2">
		<div class="worksPage__item">
			<div class="work__page__content">
				<img src="{% static 'images/image 10.png' %}" alt="" />
				<div class="worksPage__contents">
					<h4>FCMB Mobile Banking</h4>
					<p class="digitalBanking">Creating a 360 Digital Banking Experience</p>
					<div class="worksPage__spanContainer">
						<span>Branding</span>
						<span class="span2">UI/UX</span>
						<span>Research</span>
					</div>
					<p class="text">
						We so opinion friends me message as delight. Whole front do of plate
						heard oh ought. His defective nor convinced residence own.
						Connection has put impossible own apartments boisterous. At jointure
						ladyship an insisted so humanity he. Friendly bachelor entrance to
						on by.
					</p>
				</div>
			</div>
            <div class="button-container">
			    <button>View Project</button>
            </div>
		</div>
	</div>
</div>

{% include 'footer.html' %} {% endblock content %}
