{% load static %} {% block content %}
<div class="work_container global__margin">
	<h1>Our Works</h1>

	<div class="works__itemsContainer">
		<div class="works__itemContainer">
			<img src="{% static 'images/image 10.png' %}" alt="" />
			<h4>FCMB Mobile Banking</h4>
			<p>Creating a 360 Digital Banking Experience</p>
			<div class="works__linkContainer">
				<a href="">Branding</a>
				<a href="">UI/UX</a>
				<a href="">Research</a>
			</div>
		</div>
		<div class="works__itemContainer">
			<img src="{% static 'images/image 10.png' %}" alt="" />
			<h4>FCMB Mobile Banking</h4>
			<p>Creating a 360 Digital Banking Experience</p>
			<div class="works__linkContainer">
				<a href="">Branding</a>
				<a href="">UI/UX</a>
				<a href="">Research</a>
			</div>
		</div>
		<div class="works__itemContainer">
			<img src="{% static 'images/image 10.png' %}" alt="" />
			<h4>FCMB Mobile Banking</h4>
			<p>Creating a 360 Digital Banking Experience</p>
			<div class="works__linkContainer">
				<a href="">Branding</a>
				<a href="">UI/UX</a>
				<a href="">Research</a>
			</div>
		</div>
		<div class="works__itemContainer">
			<img src="{% static 'images/image 10.png' %}" alt="" />
			<h4>FCMB Mobile Banking</h4>
			<p>Creating a 360 Digital Banking Experience</p>
			<div class="works__linkContainer">
				<a href="">Branding</a>
				<a href="">UI/UX</a>
				<a href="">Research</a>
			</div>
		</div>
		<div class="works__itemContainer">
			<img src="{% static 'images/image 10.png' %}" alt="" />
			<h4>FCMB Mobile Banking</h4>
			<p>Creating a 360 Digital Banking Experience</p>
			<div class="works__linkContainer">
				<a href="">Branding</a>
				<a href="">UI/UX</a>
				<a href="">Research</a>
			</div>
		</div>
		<div class="works__itemContainer">
			<img src="{% static 'images/image 10.png' %}" alt="" />
			<h4>FCMB Mobile Banking</h4>
			<p>Creating a 360 Digital Banking Experience</p>
			<div class="works__linkContainer">
				<a href="">Branding</a>
				<a href="">UI/UX</a>
				<a href="">Research</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
