* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.contact-page__container {
	width: 70%;
	margin: 0 auto;
	padding: 40px;
	display: flex;
	gap: 40px;
	background-color: #d7eafe;
}

.contact-page__avater {
	width: 40%;
}

.contact-page__avater h1 {
	color: #042c54;
}

.contact-page__avater img {
	width: 100%;
}

.contact-page__form-container {
	width: 60%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background-color: #ffffff;
	position: relative;
}

.contact-form {
	width: 100%;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
}

.firstname-input,
.lastname-input,
.email-input,
.text-area {
	width: 75%;
	font-size: 20px;
	border-radius: 10px;
	padding: 12px;
	background-color: #f2f2f2;
}

.lastname-input {
}

.email-input {
}

.text-area {
	height: 100px;
}

.submit {
	width: 100%;
	padding: 15px;
	font-weight: 700;
	font-size: 30px;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	background-color: #042c54;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
